<% var title = 'Profile' %>
<% include head %>

<body>
<div class="container">

<h2>Profile Page</h2>

	<p>
        <strong>nom</strong>: <%= user.nom %><br>
        <strong>email</strong>: <%= user.email %><br>
        <strong>password</strong>: <%= user.password %>
    </p>

</div>
</body>
</html>
